.making-difference-image {
    background-image: linear-gradient(
            to left,
            rgba(255, 255, 255, 1) 10%,
            rgba(255, 255, 255, 0.1) 50%
        ),
        url("../images/boy helping old woman.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.making-difference-heading {
    font-family: "playfair display", serif;
}

.aim-heading {
    font-family: "playfair display", serif;
}
