//COLOR PRIMARY
$clr-primary-100: #ffbf00;
$clr-primary-200: #e3a700;
$clr-primary-300: #c78f00;
$clr-primary-400: #ab7800;

//COLOR SECONDARY
$clr-secondary-100: #00d8ff;
$clr-secondary-200: #00bfff;
$clr-secondary-300: #00a7ff;
$clr-secondary-400: #0085cb;

// FOOTER VARIABLES

$footer-form-border-radius: 2rem;
